* {
    padding: 0;;
    margin: 0;
    border: 0;
    
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #dddddd;
    
}

/* Navbar*/

.navbar {
    background-color: #033249;
    
}

.navbar-brand {
    height: 130px;
}

.navbar-dark .navbar-brand {
    color: #dddddd;
}

.navbar li {
    letter-spacing: 3px;
    
}


/* Jumbotron and Main Image */

.jumbotron-holder {
    height: 85vh;
    background: url("../images/charlotte-stowe-unsplash.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    opacity: 0.9;
    background-color: #dddddd;
    text-align: center;
    
}

.brand {
    font-family: "Raleway" , sans-serif;
    text-transform: uppercase;
    color: #033249;
}

.btn-lg {
    background-color: #033249;
    color: #32e0c4;
    
    
    
}

.btn-lg:hover {
    background-color: #dddddd;
    color: #033249;
}

/* Footer and social links */

footer {
    background-color: #033249;
    color: #dddddd;
    height: 150px;
    padding: 20px;
    
}

.socials {
    text-align: center;
    
}

.socials  li{
    display: inline;
    
}

.socials a {
    color: #dddddd;
    font-size: 160%;
    width: 50px;
    margin: 15px;
    padding: 5px;
    
}

.socials a:hover {
    background-color: #033249;
    color: #32e0c4;
}



