* {
    padding: 0;
    margin: 0;


}

body {
    font-family: "Raleway", sans-serif;
    background-color: #dddddd;

}

h1,
h2,
h3,
h4,
h5,
p {
    color: #033249;
}

/* Navbar*/

.navbar {
    background-color: #033249;


}


.navbar-brand {
    height: 130px;
}

.navbar-dark .navbar-brand {
    color: #dddddd;
}

.navbar li {
    letter-spacing: 3px;

}


/* Jumbotron and Main Image */

.jumbotron-holder {
    height: 65vh;
    background: url("../images/charlotte-stowe-unsplash.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    opacity: 0.9;
    background-color: rgb(3, 50, 73, 1);
    color: #dddddd;
    text-align: center;
    margin-top: 32px;
}

.brand-strapline {
    text-transform: uppercase;
    color: #dddddd;
}

.strap {
    color: #dddddd;
}

.jumbotron p {
    color: #dddddd;
}

.btn-lg {
    background-color: #dddddd;
    color: #033249;
}

.btn-lg:hover {
    background-color: #033249;
    color: #dddddd;
}


/* Services section */

.services-section {
    text-align: center;
    padding: 8% 6%;
    outline: 1px solid #033249;
    outline-offset: -10px;


}

.fas {
    padding: 3%;
    color: #033249;
}

.fas:hover {
    color: #32e0c4;
}

.card-deck {
    margin: 0;
}

.card-deck .card {
    margin-bottom: 15px;
}

.card-title {
    text-transform: uppercase;

}

/* Footer and social links */

footer {
    background-color: #033249;
    color: #dddddd;
    height: 150px;
    padding: 35px;

}

.footer-text {
    color: #dddddd;
    text-align: center;
}

.socials {
    text-align: center;

}

.socials li {
    display: inline;

}

.socials a {
    color: #dddddd;
    font-size: 160%;
    width: 50px;
    margin: 15px;
    padding: 5px;

}

.socials a:hover {
    background-color: #033249;
    color: #32e0c4;
}

/* Contact Page */

.contact-section {
    background: url("../images/redcharlie-iCPpeZnGrlM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;

}

.contact-header {
    color: #32e0c4;
    text-align: center;
}

.contact-form {
    position: absolute;
    background-color: rgb(3, 50, 73, 0.8);
    max-width: 500px;
    padding: 25px;
    margin: 30px auto 0 auto;
    left: 7%;

}


label {
    color: #dddddd;

}

.btn-primary {
    background-color: #033249;
    border: #dddddd;
    color: #dddddd;
}

.btn-primary:hover {
    background-color: #32e0c4;
}


@media only screen and (max-width: 600px) {
    .contact-form {
        width: 85%;
    }

    .hero-container .content {
        align-items: center;
    }

}